body{
font-family:Arial;
background:#efe4cc;
}

.app{
max-width:480px;
margin:auto;
padding:15px;
}

header{
background:#7b532e;
color:white;
padding:15px;
border-radius:10px;
text-align:center;
position:relative;
}

.homeBtn{
position:absolute;
left:10px;
top:10px;
background:#5c3d22;
color:white;
border:none;
padding:8px;
border-radius:6px;
}

.mainButton{
width:100%;
padding:18px;
margin-top:15px;
background:#8b6f47;
color:white;
border:none;
border-radius:12px;
font-size:16px;
}

.grid{
display:grid;
grid-template-columns:1fr 1fr;
gap:10px;
margin-top:10px;
}

.card{
background:white;
padding:12px;
border-radius:10px;
}

textarea,input,select{
width:100%;
margin-top:10px;
padding:10px;
border-radius:8px;
border:1px solid #ccc;
}

img{
width:100%;
margin-top:10px;
border-radius:8px;
}

canvas{
width:100%;
height:120px;
border:1px dashed #aaa;
border-radius:8px;
background:white;
}

.save{
width:100%;
background:#0a7bdc;
color:white;
font-size:18px;
margin-top:15px;
}

.hidden{
display:none;
}

.artifactCard{
background:white;
padding:10px;
margin-top:10px;
border-radius:10px;
cursor:pointer;
}

#canvasFullscreen{

position:fixed;
top:0;
left:0;
width:100%;
height:100%;
background:white;
z-index:9999;

}

.canvasFullContainer{

display:flex;
flex-direction:column;
height:100%;

}

#canvasFull{

flex:1;
border:2px solid black;

}

.detailCard{
background:white;
padding:15px;
border-radius:10px;
margin-top:10px;
}
canvas{
touch-action:none;
}

canvas{
touch-action:none;
}

#appVersion{

position:fixed;

bottom:8px;
right:10px;

font-size:12px;

color:#555;

background:rgba(255,255,255,0.7);

padding:4px 8px;

border-radius:6px;

font-family:monospace;

z-index:9999;

}

#map{
height:400px;
margin-top:15px;
border-radius:10px;
}
